*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    background: #f0f0f0;
    font-family: 'roboto', sans-serif;
}


img {
    cursor: pointer;
}
i {
    cursor: pointer;
}

.flex-div{
    display:flex;
    align-items: center;
}
    
    /* Navbar */

.nav-bar {
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
    position: sticky;
    top:0;
    z-index: 100;
    height: 60px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
        
.nav__logo {
    height: 25px;
    margin-left: 20px;
    object-fit: contain;
    }
        
.nav__input {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;
    padding: 8px 12px;
    border-radius: 10px;
    }
        
.nav__input input {
    flex: 1;
    border: none;
    }
        
.nav__inputButton {
    width: 50px  !important;
    
    }
        
.nav__delete {
    margin-right: 20px;
    }

.icon {
    margin-right: 1rem;
    }
        
.nav__icons {
    display: flex;
    align-items: center;
    }
    
.user__icon{
    width: 40px;
    margin-right: 25px;
    border-radius: 50%;
    }
        
    /* Sidebar */

.app__page {
        display: flex;
    }
    
.sidebar {
    flex: 0.2;
    background:white;
    width: 19%;
    position:fixed;
    top: 60px;
    height: calc(100vh - 60px);
    overflow-y:scroll;
}

.shortcut-links a img {
    width: 25px;
    margin-right: 20px;
}

.shortcut-links a {
    color: #242424;
    font-size: 14px;
    width: 100%;
    padding: 10px 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
}

.links:hover,
.links.active{
    background: rgba(0, 0, 0, 0.1);
    
}

.sidebar hr{
    border: none;
    height: 1px;
    background: black;
    width: 90%;
}

.subscribed-list h3{
    font-size:13px;
    margin-left: 20%;
    color: #5a5a5a;
    align-items: center;
}

.subscribed-list a {
    display:flex;
    align-items:center;
    width: 100%;
    flex-wrap: wrap;
    text-decoration: none;
    color:black;
    padding: 8px;
}

.subscribed-list a img {
    margin-right: 10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left:20px;
}

.subscribed-list a:hover{
    background: rgba(0, 0, 0, 0.1);
    
}

.small-sidebar {
    width: 5%;
}

.small-sidebar a p {
    display:none;
}
.small-sidebar .separate {
    display: none;
}

.small-sidebar .subscribed-list {
    display: none;
}

.small-sidebar::-webkit-scrollbar{
    display: none;
}

.container {
    flex: 0.8;
}

.filters{
    position: fixed;
    left:20%;
    top: 60px;
    width: calc(100% - 50px);
    height: 50px;
    background: #fff;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.large-filters {
    left:5%;
}

.filters::-webkit-scrollbar{
    display: none;
}

.filter-options{
    flex: 0 0 auto;
    color: #242424;
    padding: 2px 17px;
    border-radius: 50px;
    background: #f0f0f0;
    border: 1px solid #dcdcdc;
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
    text-transform: capitalize;
}

.filter-options:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}

.filter-options.active{
    color: #fff;
    background-color: black;
}